*.txt
*.htacces
wp-admin
wp-includes
wp-content/plugins/help-tip
wp-content/plugins/oxygen-woocommerce.1.4.zip
wp-content/plugins/woocommerce-gateway-worldpay
wp-content/plugins/wst-link-tracker
wp-content/*.log
wp-content/*.php
wp-content/themes/
wp-content/uploads/